services:
    db:
      image: mariadb:11.7.2
      container_name: db
      ports:
        - "3306:3306"
      env_file: ".env"
      restart: always
      volumes:
        - mariadb_data:/var/lib/mysql
      networks:
        - streamer_default

    migrate:
      build: 
        context: .
        dockerfile: Dockerfile
        target: migrate_tool
      container_name: migrate
      depends_on:
        - db
      volumes:
        - ./migrations:/migrations
      command: ["migrate", "-database", "mysql://$MYSQL_USER:$MYSQL_PASSWORD@tcp(db:3306)/$MYSQL_DATABASE?multiStatements=true", "-path", "/migrations", "up"]
      networks:
        - streamer_default
    
    malstrek-app:
      build: 
        context: .
        dockerfile: Dockerfile
        target: java_runner
      depends_on:
        - db
        - migrate
      ports:
        - "8080:8080"
      env_file: ".env"
      networks:
        - streamer_default
      environment:
        KAFKA_BOOTSTRAP_SERVERS: broker:29092

    metabase:
      image: metabase/metabase:v0.56.8
      container_name: metabase
      hostname: metabase
      volumes:
        - /dev/urandom:/dev/random:ro
      ports:
        - 3000:3000
      env_file: ".env"
      networks:
        - streamer_default
      healthcheck:
        test: curl --fail -I http://localhost:3000/api/health || exit 1
        interval: 15s
        timeout: 5s
        retries: 5

    metabase-db:
      image: postgres:18.0
      container_name: metabase-db
      hostname: metabase-db
      volumes:
        - metabase_db_data:/var/lib/postgresql/data
      env_file: ".env"
      networks:
        - streamer_default

volumes:
  mariadb_data:
  metabase_db_data:

networks:
  streamer_default:
    external: true
    name: streamer_default